@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 350px;
  margin: auto;
  padding: 6rem 0;
}

.display2 {
  display: flex;
  justify-content: right;
}

.container-secondary-display {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  font-size: 1.2rem;
  height: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.operatorDisplay {
  margin: 0 4px;
}

.container-primary-display {
  display: flex;
  justify-content: right;
  align-items: center;
}

/* .container-primary-display .equal-symbol {
  margin-right: auto;
  font-size: 1.5rem;
  display: hide;
} */

.display {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  height: 100px;
  margin-bottom: 20px;
  font-size: 5rem;
}

.reduceDisplayFontx1 {
  font-size: 4.5rem;
}

.reduceDisplayFontx2 {
  font-size: 4rem;
}

.reduceDisplayFontx3 {
  font-size: 3.5rem;
}

.reduceDisplayFontx4 {
  font-size: 2rem;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 30px;
  text-align: center;
}

.keypad > * {
  background-color: rgb(58, 58, 58);
  width: 80px;
  padding: 20px 0;
  border-radius: 50%;
}

#zero-btn {
  background-color: rgb(58, 58, 58);
  width: 170px;
  padding: 20px 0;
  border-radius: 38px;
}

.primary-operators {
  background-color: hsl(40, 90%, 40%);
  font-weight: 600;
}

.secondary-operators {
  background-color: hsl(0, 0%, 50%);
  color: black;
  font-size: 26px;
  padding: 22px 0;
  font-weight: 600;
}

.equals-operators {
  background-color: hsl(0, 0%, 100%);
  font-weight: 600;
  color: black;
}

.AC {
  background-color: hsl(0, 100%, 50%);
}
